diffusion_matern_function.blg
diffusion_matern_function.bbl
diffusion_matern_function.out
diffusion_matern_function.aux
diffusion_matern_function.toc
diffusion_matern_function.log
diffusion_matern_function.synctex.gz
